
.calc {
	max-width: 300px;
	margin: 0 auto;
}

.output {
	height: 30px;
}

.btn {
	margin: 2px;
}

.btn-num {
	background-color: #f1f2f6;
	color: #000000;
}

.btn-func {
	background-color: #747d8c;
	color: #000000;
}
