body {
	width: 100%;
	background: url(./img/background2.jpg); /* Photo by Thought Catalog on Unsplash */
	background-repeat: no-repeat;
}

#title {
	margin-top: 5%;
	margin-bottom: 3%;
	font-family: 'Righteous', cursive;
	font-size: 50px;
	color: #dfe4ea;
	text-shadow: 1px 2px 5px #000000;
}

.output {
	position: relative;
	width: 300px;
	right:13px;
	padding: 5px;
	display: block;
	background-color: #b8e994;
	height: 50px;
	border-radius: 5px;
	margin-bottom: 6px;
	font-size: 25px;
}

.calc-outer {
	position: relative;
	max-width: 360px;
	margin: 0 auto;
	background: #222f3e;
	height: 380px;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 3px 5px 7px 4px #485460;
}

.calc-inner {
	margin-top: 10px;
	positon: absolute;
	left: 20px;
	padding: 12px;
}

.row {
	margin: 0;
}

.btn {
	margin: 1px;
	font-size: 25px;
	cursor: pointer;
	width: 74px;
}

button.btn.btn-danger.equal {
	width: 150px;
}

.btn-default {
	background-color: #F8EFBA;
}

.btn-default:hover {
	background-color: #d1ccc0;
}

.btn-func {
	background-color: #747d8c;
	color: #FFFFFF;
}

.btn-func:hover {
	background-color: #485460;
}
